.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #0f1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
  border: solid 2px #253d3d;
  z-index: 1000;
  animation: navbarFadeIn 0.5s forwards;
  opacity: 0;


}

@keyframes navbarFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar-header, .navbar-link, .navbar-footer, .navbar-whatsapp {
  text-align: center;  /* Ajusta o texto para ficar centralizado na vertical */
}
.navbar-expanded {
  width: 100%;
  height: auto;
}

.navbar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 20%;
}

.navbar-image-container {
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  padding-bottom: 30px;

}

.navbar-image {
  width: 250px;
  height: 210px;
  border-radius: 50%;
  border-width: 8px;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px #00000075;
}

.navbar-image:hover {
  border-color: #0df0d575;
}

.navbar-name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0px;
  padding-bottom: 100px;
  cursor: default;
}

.navbar-name-small {
  display: block;
}


.navbar-link ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-link li {
  text-align: center;
  margin: 20px 0;
}

.navbar-link a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar-link a.active, .dropdown-menu a.active {
  color: #128c7e; /* Cor de destaque */
  font-weight: bold;
}

/* Para links no modo dropdown */
.dropdown-menu a.active {
  color: #128c7e; /* Alterar a cor do link ativo */
}
.navbar-link a:hover {
  color: #128c7e;
}

.navbar-whatsapp {
  text-align: center;
}

.whatsapp-button {
  background-color: #25D366;
  color: white;
  padding: 8px 10px;
  border-radius: 25px;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #128c7e;
}

.navbar-footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.navbar-footer li {
  padding: 10px 10px;
}

.navbar-footer a i {
  font-size: 20px;
  transition: color 0.3s ease;
}

.navbar-footer a i:hover {
  color: #128c7e;
}

.navbar-footer a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.hamburger {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1100;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 30px;
  transition: all 0.3s ease;
}

.hamburger.open div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open div:nth-child(2) {
  opacity: 0;
}

.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: #0f1a1a;
  padding: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  transition: max-height 0.3s ease, padding 0.3s ease;
  border: solid 2px #253d3d;
}

.dropdown-menu.open {
  max-height: 300px;
  padding: 20px 0;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu li {
  margin: 15px 0;
  text-align: center;
}

.dropdown-menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

.dropdown-menu a:hover {
  color: #128c7e;
}

.hamburger-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #0f1a1a;
  height: 60px;
}


@media (min-width: 769px) {
  .dropdown-menu, .hamburger {
    display: none;
  }
  .navbar-name {
    display: block;
  }
  .navbar-name-small {
    display: none;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
  }

}
@media (max-width: 768px) {
  .navbar {
    width: 100%; /* A largura é 100% na tela pequena */
    height: auto; /* Ajuste da altura */
    flex-direction: row; /* Navbar horizontal */
    padding: 10px 20px;
    border-top: none;
    justify-content: space-between; /* Disposição dos itens */
  }
  .navbar-header, .navbar-link, .navbar-image, .navbar-image-container, .navbar-name, .navbar-whatsapp {
    display: none; /* Oculta as seções verticais */
  }
  .navbar-name-small {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }

  .navbar-header, .navbar-link, .navbar-whatsapp{
    display: none;
    width: 100%;
    margin-top: 10px;
  }

  .navbar-footer ul {
    justify-content: center;
    margin-right: 130px;
  }

  .navbar-footer li {
    padding: 0px 5px;
  }

  .hamburger {
    display: block;
    margin: 0 50px;
  }

  .whatsapp-button {
    display: block;
    margin: 0 auto;
    width: 210px;
    text-align: center;
  }

}
