/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #0f1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
  border: solid 2px #253d3d;
  z-index: 1000;
}

.navbar-expanded {
  width: 100%;
  height: auto;
}

/* Cabeçalho da navbar */
.navbar-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.navbar-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
}

.navbar-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-style: solid;
  border-color: #0c504875;
  border-width: 8px;
  transition: all 0.3s ease;
}

.navbar-image:hover {
  border-color: #0df0d575;
}

/* Nome */
.navbar-name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

/* Links de navegação */
.navbar-link ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-link li {
  text-align: center;
  margin: 20px 0;
}

.navbar-link a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar-link a:hover {
  color: #128c7e;
}

/* Botão do WhatsApp */
.navbar-whatsapp {
  text-align: center;
}

.whatsapp-button {
  background-color: #25D366;
  color: white;
  padding: 8px 10px;
  border-radius: 25px;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #128c7e;
}

/* Seção de redes sociais */
.navbar-footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.navbar-footer li {
  padding: 10px 10px;
}

.navbar-footer a i {
  font-size: 20px;
  transition: color 0.3s ease;
}

.navbar-footer a i:hover {
  color: #128c7e;
}

.navbar-footer a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/* Ícone de hambúrguer */
.hamburger {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1100;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: all 0.3s ease;
}

.hamburger.open div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open div:nth-child(2) {
  opacity: 0;
}

.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Dropdown para telas menores */
.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: #0f1a1a;
  padding: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.dropdown-menu.open {
  max-height: 300px; /* Ajuste conforme necessário */
  padding: 20px 0;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu li {
  margin: 15px 0;
  text-align: center;
}

.dropdown-menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

.dropdown-menu a:hover {
  color: #128c7e;
}

/* Esconde elementos para telas maiores */
@media (min-width: 769px) {
  .dropdown-menu,
  .hamburger {
    display: none;
  }
}

/* Navbar completa para telas maiores */
@media (min-width: 769px) {
  .navbar {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .navbar-header,
  .navbar-link,
  .navbar-whatsapp {
    display: block;
  }

  .navbar-footer {
    display: flex;
    justify-content: center;
  }
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .navbar {
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .navbar-header,
  .navbar-link,
  .navbar-whatsapp {
    display: none;
  }

  .navbar-footer {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .hamburger {
    display: block;
  }
}